* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #f8f9fA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.banner {
  align-items: center;
  background-color: #22272e;
  border-radius: 4px;
  box-sizing: border-box;
  color: #f16363;
  font: 400 14px/10px'nutanix_soft', san-serif;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  width: 400px;
}

.close::before, .close::after {
  content: '';
  background-color: white;
  border-radius: 2px;
  display: inline-block;

  height: 12px;
  width: 2px;
  right: 26px;
  top: 20px;
  position: absolute;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}
